body {
    margin: 0;
    overflow: hidden;
    background: #222; /* Fundo do vazio */
    font-family: 'Arial', sans-serif;
}

#camera {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.1s linear;
}

#world {
    display: grid;
    grid-template-columns: repeat(20, 80px);
    grid-template-rows: repeat(20, 80px);
    width: 1600px; /* 20 colunas * 80px */
    height: 1600px;
    background-color: #5ba339; /* VERDE GRAMA */
    /* Textura de grama usando gradiente */
    background-image: radial-gradient(#6fb34d 10%, transparent 10%);
    background-size: 20px 20px;
}

.tile {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0,0,0,0.03);
    position: relative;
    box-sizing: border-box;
}

.plowed {
    background: #8b4513 !important;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
}

.tree {
    position: absolute;
    width: 60px;
    height: 90px;
    background: #2d5a27;
    bottom: 5px;
    left: 10px;
    border-radius: 30px 30px 10px 10px;
    border: 3px solid #1a3316;
    z-index: 2;
}

/* Jogador */
#player {
    position: absolute;
    width: 32px;
    height: 48px;
    z-index: 10;
}
.p-hair { width: 32px; height: 12px; background: #4e342e; border-radius: 6px 6px 0 0; }
.p-body { width: 32px; height: 24px; background: #3498db; }
.p-legs { width: 32px; height: 12px; background: #2c3e50; border-radius: 0 0 4px 4px; }

/* UI */
#ui {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.stats {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #f3e5ab;
    padding: 10px;
    border: 4px solid #5d4037;
    border-radius: 8px;
}

.energy-container {
    width: 100px;
    height: 15px;
    background: #ccc;
    margin-top: 5px;
    border: 2px solid #5d4037;
}

#energy-bar {
    width: 100%;
    height: 100%;
    background: #4caf50;
    transition: width 0.3s;
}

.hotbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    pointer-events: all;
}

.slot {
    width: 60px;
    height: 60px;
    background: #f3e5ab;
    border: 4px solid #5d4037;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.slot.active {
    background: #fff;
    transform: scale(1.1);
    border-color: #f1c40f;
}